@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist
@using HairSalon.Models
<div class="noScale stylistOutside">
<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
@if (@Model.Clients.Count == 0)
{
  <h3>No clients have been added to this Stylist yet!</h3>
} 
else
{
  <h3>Clients:</h3>
  @foreach (Client client in Model.Clients)
  {
    <div class="clientOutside">
      @Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })
    </div>
  }
}
<p>@Html.ActionLink("Add new client for this stylist", "Create", "Clients", new { thisStylistId = Model.StylistId })</p>
<p>@Html.ActionLink("Edit stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
</div>
<p>@Html.ActionLink("View clients of all stylists", "Index", "Clients")</p>