@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<h1>Clients</h1>
<form method="post" action="/clients/index">
<input type="text" id="search" name="search">
<button type="submit">Search by Name</button>
</form>
@if (@Model.Count == 0)
{
  <h3>No clients have been added yet!</h3>
}
else
{
  <ul>
    @foreach (Client client in Model)
    {
      <div class="clientOutside">
        <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | @Html.ActionLink($"{client.Stylist.Name}", "Details", "Stylists", new { id = client.Stylist.StylistId })</li>
      </div>
    }
  </ul>
}
<p>@Html.ActionLink("Add new client", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>